<%= content_for :contents do %>
  <div class='container w-50 h-100 mt-5'>
    <h1>Login</h1>
    <%= simple_form_for @user, url: session_path do |f| %>
      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.submit 'Log in', class: 'btn btn-success px-4 rounded-pill w-100 mt-3' %>
    <% end %>
    <br>
    <%= link_to 'Forgot your password?', new_password_reset_path %>
  </div>
<% end %>
