<%= content_for :breadcrumbs do %>
  <%= breadcrumb_list do %>
    <%= breadcrumb_item 'Patients', patients_path %>
    <%= breadcrumb_item 'Patient', patient_path(@consultation.patient) %>
    <%= breadcrumb_item 'Edit Consultation' %>
  <% end %>
<% end %>

<%= content_for :contents do %>
  <div class="container pt-5 mb-5">
    <div class="row">
      <h1>Edit Consultation</h1>
      <h2>for <%= @consultation.patient.first_name %> <%= @consultation.patient.last_name %></h2>
      <h4> Date: <%= @consultation.date %></h4>
    </div>
    <%= simple_form_for [@consultation.patient, @consultation] do |f| %>
      <%= f.input :notes_before, as: :rich_text_area, input_html: { style: 'overflow: auto' }  %>
      <%= f.input :notes_after, as: :rich_text_area, input_html: { style: 'overflow: auto' } %>
      <%= f.input :notes_to_send, as: :rich_text_area, input_html: { style: 'overflow: auto' } %>
      <%= f.submit "Save", class: "btn btn-success px-4 rounded-pill" %>
      <%= link_to 'Cancel', patient_path(@consultation.patient), class: 'btn btn-secondary px-4 rounded-pill' %>
      <%= link_to 'Generate PDF', download_consultation_path(@consultation), class: 'btn btn-secondary px-4 rounded-pill' %>
    <% end %>
  </div>
<% end %>
