<%= content_for :breadcrumbs do %>
  <%= breadcrumb_list do %>
    <%= breadcrumb_item 'Patients', patients_path %>
    <%= breadcrumb_item 'Patient', patient_path(@patient) %>
    <%= breadcrumb_item 'New Consultation' %>
  <% end %>
<% end %>

<%= content_for :contents do %>
  <div class="container pt-5 mb-5">
    <div class="row">
      <h1>New Consultation</h1>
      <h2>for <%= @patient.first_name %> <%= @patient.last_name %></h2>
    </div>
    <%= simple_form_for [@patient, @consultation] do |f| %>
      <%= f.input :notes_before, as: :rich_text_area, input_html: { style: 'height: 60vh' }  %>
      <%= f.input :notes_after, as: :rich_text_area, input_html: { style: 'height: 60vh' } %>
      <%= f.input :notes_to_send, as: :rich_text_area, input_html: { style: 'height: 60vh' } %>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to 'Cancel', patient_path(@patient), class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>
