<%= content_for :contents do %>
  <div class='container w-50 h-100'>
    <h1>Sign up</h1>
    <%= simple_form_for @user, url: registrations_path do |f| %>
      <% if f.object.errors.any? %>
        <% f.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit 'Sign up', class: 'btn btn-success px-4 rounded-pill w-100 mt-3' %>
    <% end %>
  </div>
<% end %>
