<td data-label="First Name"><%= patient.first_name %></td>
<td data-label="Last Name"><%= patient.last_name %></td>
<td data-label="Phone"><%= patient.phone %></td>
<td data-label="Birthdate"><%= patient.birth_date %></td>
<td data-label="Address"><%= patient.address %></td>
