<%= content_for :breadcrumbs do %>
  <%= breadcrumb_list do %>
    <%= breadcrumb_item 'Patients' %>
  <% end %>
<% end %>

<div class="container pt-5 bg-light">
  <div class="row bg-light" >
    <div class="col">
      <h1 class="page-header ">Patients</h1>
    </div>
    <div class="col text-end">
    <%= link_to new_patient_path do %>
      <button type="button" class="btn btn-primary">New Patient</button>
     <% end  %>
    </div>
  </div>
  <div class="table-responsive-sm" data-controller="filter">
    <%= search_filter 'patients' %>
    <%= render "patients_table", patients: @patients %>
  </div>
  <%= render "pagination", pagy: @pagy %>

</div>
