<%= content_for :breadcrumbs do %>
  <%= breadcrumb_list do %>
    <%= breadcrumb_item 'Patients', patients_path %>
    <%= breadcrumb_item 'Patient' %>
  <% end %>
<% end %>
<div class="container mt-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mt-1">Patient details</h5>
      <div class="me-3">
        <%= link_to "Edit", edit_patient_path(@patient), class: 'btn btn-primary px-4 text-white', data: { turbo_stream: true } %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'patient_details', patient: @patient %>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mt-1">Patient consultations</h5>
      <div class="me-3">
        <%= link_to "New", new_patient_consultation_path(@patient), class: 'btn btn-primary px-4 text-white'%>
      </div>
    </div>
    <div class="card-body">
      <%= render 'consultations/consultations_table', patient: @patient %>
    </div>
  </div>
</div>

