<div class="container mt-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mt-1">Patient details</h5>
      <div class="me-3">
        <%= link_to "Edit", edit_patient_path(@patient), class: 'btn btn-primary px-4 text-white', data: { turbo_stream: true } %>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-stripped-alternated mb-0">
        <tr>
          <td class="fw-semibold">First Name</td>
          <td><%= @patient.first_name %></td>
        </tr><tr>
          <td class="fw-semibold">Last Name</td>
          <td><%= @patient.last_name %></td>
        </tr><tr>
          <td class="fw-semibold">Phone</td>
          <td><%= @patient.phone %></td>
        </tr><tr>
          <td class="fw-semibold">Birthdate</td>
          <td><%= @patient.birth_date %></td>
        </tr><tr>
          <td class="fw-semibold">Address</td>
          <td><%= @patient.address %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

